table {
    border-collapse: separate;
    border-spacing: 50px 0;
  }
  
td {
    padding: 10px 0;
  }

.filter_options{
    float: left;
    margin-left: -4%;
}

.loader{
    float: right;
    margin-right: 18%;
}