<div class="filter_options">
  <table class="search">
    <tr>
      <td>NIC</td>
      <td><input type="text"></td> 
      
    </tr>

    <tr>
      <td>First Name</td>
      <td><input type="text"></td> 
    </tr>

    <tr>
      <td>Last Name</td>
      <td><input type="text"></td> 
    </tr>

    <tr>
      <td>Job Category</td>
      <td>
        <select class='select-option'>
        <option class='option' *ngFor='let option of options' [value]="option">{{option}}</option>
    </select>
  </td> 
    </tr>

    <tr>
      <td>Male/Female</td>
      <td><input type="radio" name="sex" [value]='Male'>Male
        <input type="radio" name="sex" [value]='Female'>Female
      </td> 
    </tr>

    
    <tr>
        <td>Location</td>
        <td><input type="text"></td> 
   </tr>

   
   <tr>
      <td>Position</td>
      <td><input type="text"></td> 
  </tr>

  
  <tr>
      <td>  </td>
      <td>
          <button class="btn"><i class="fa fa-search"></i> Search</button>
          <button class="btn"><i class="fa fa-close"></i> Close</button>
      </td> 
  </tr>
  </table>
</div>

<div class="loader">
  <p>Content loads here</p>
</div>